/*  your css code here. If applicable */
#yellow {
            background-color: yellow;
            border: 1px solid green;
        }
#red    {
			background-color: rgb(250,0,0);
			border: 1px solid rgb(250,0,0);
	
}
#green    {
			background-color:green;
			border: 1px solid green;
	
}